* {
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    background-color: black;
    color: white;
    padding: 35px;
}    

aside {
    display: flex;
    margin: 15px;
    position: absolute;
    justify-content: flex-start;
    border: 5px solid darkgray;
    width: 300px;
    height: 400px;
    overflow: hidden;
    z-index: 5;
    padding: 30px;
}

main {
    display: flex;
    position: absolute;
    right: 0;
    top: 175px;
    width: 70%;
    padding: 10px;
    flex-direction: column;
    background-color: lightblue;
}

li {
    border:2px solid gray;
    padding: 5px;
}

h3 {
    padding-bottom: 30px;
}

h5 {
    padding-bottom: 15px;
}
#city-search {
    margin: 5px 0;
}

.todays-forecast {
    padding-left: 70px;
}
.present-date {
    margin-bottom: 30px;
}

.prev-search-list {
    display: flex;
    flex-direction: column;
    
}

.five-day-forecast {
    margin-top: 30px;
    padding-left: 70px;
}

.future-forecasts {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.weather-card {
    border: 2px solid black;
    height: 175px;
    width: 150px;
    display: flex;
    flex-direction: column;
    background-color: blue;
    color: white;
    justify-content: space-between;
    padding-bottom: 10px;
}

.date {
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;

}

.city-btn {
    height: 30px; 
}

.favorable {
    background-color: green;
}

.moderate {
    background-color: yellow;
}

.severe {
    background-color: red;
}